In [2]:
import praw
import datetime as dt
import pandas as pd

In [2]:
reddit = praw.Reddit(client_id = "NOT SHOWABLE", client_secret = "NOT SHOWABLE", user_agent = "NOT SHOWABLE")

In [10]:
megathreads = []

for submission in reddit.subreddit("italy").search(query = "flair:Coronavirus AND (author:RedditItalyBot OR author:Lyrtil OR author:zeando)"):
    to_append = {}
    to_append["ID"] = submission.id
    date = dt.datetime.utcfromtimestamp(submission.created_utc)
    to_append["Month"] = date.month
    to_append["Day"] = date.day
    to_append["Title"] = submission.title
    to_append["#Upvotes"] = submission.score
    to_append["#Comments"] = submission.num_comments
    to_append["Upvote Ratio"] = submission.upvote_ratio
    megathreads.append(to_append)

In [21]:
megathreads_data = pd.DataFrame(megathreads)
megathreads_data = megathreads_data.sort_values(by = ["Month", "Day"], ignore_index = True)

In [5]:
megathreads_data

,ID,Month,Day,Title,#Upvotes,#Comments,Upvote Ratio
0,f7txjb,2,22,[MegaThread #3] CoronaVirus,392,2238,0.97
1,f87rbo,2,23,[MegaThread #4] CoronaVirus,272,3526,0.97
2,f8n5re,2,24,[MegaThread #5] CoronaVirus,339,3905,0.98
3,f979ky,2,25,[MegaThread #6] CoronaVirus,287,3209,0.97
4,f9ppti,2,26,[MegaThread #7] CoronaVirus,143,2630,0.96
...,...,...,...,...,...,...,...
73,gex2s7,5,7,Megathread Coronavirus * 07/05/20,122,496,0.99
74,gfjrni,5,8,Megathread Coronavirus * 08/05/20,112,578,0.96
75,gg5yq6,5,9,Megathread Coronavirus * 09/05/20,75,296,0.96
76,ggqrld,5,10,Megathread Coronavirus * 10/05/20,60,312,0.86
77,ghe13x,5,11,Megathread Coronavirus * 11/05/20,65,238,0.91

In [3]:
megathreads_data = pd.read_csv("Megathreads_Data.csv", sep = "\t", index_col = 0)

In [6]:
for index in range(0, 8):
    comments_data = []
    
    first = index * 10
    last = (index + 1) * 10
    if(index == 7):
        last = -1
        
    for ID in megathreads_data["ID"][first : last]:
        submission = reddit.submission(id = ID)
        submission.comments.replace_more(limit = None)
        for comment in submission.comments.list():
            to_append = {}
            to_append["Author"] = comment.author
            to_append["Submission ID"] = ID
            to_append["Text"] = comment.body
            date = dt.datetime.utcfromtimestamp(comment.created_utc)
            to_append["Hour"] = date.hour
            to_append["Minute"] = date.minute
            to_append["Second"] = date.second
            to_append["ID"] = comment.id
            parent_id = comment.parent_id
            if(parent_id[1] == '3'):
                to_append["Top Level"] = True
            else:
                to_append["Top Level"] = False
            to_append["Parent ID"] = comment.parent_id[3:]
            to_append["#Upvotes"] = comment.score
            comments_data.append(to_append)
    
    df = pd.DataFrame(comments_data)
    df.to_csv("Comments_Data_" + str(index + 1) + ".csv", sep = "\t")
    print(index)

0
1
2
3
4
5
6
7

In [43]:
pd.DataFrame(comments_data)

,Author,Submission ID,Text,Hour,Minute,Second,ID,Top Level,Parent ID,#Upvotes
0,Lord_TheJc,f7txjb,"Chiudo il thread, andate su quello nuovo\n\n/r...",12,25,40,fijqzau,True,f7txjb,1
1,EMOSCAMBIO,f7txjb,>Ore 19.30 - Il presunto «paziente 0» negativo...,18,52,58,figab7t,True,f7txjb,86
2,drstins_n,f7txjb,> Si allontana da Codogno e torna ad Avellino:...,21,40,54,fih8gxg,True,f7txjb,79
3,IceTea666,f7txjb,Dogana slovenia/croazia. Il poliziotto croato ...,22,17,8,fihft9k,True,f7txjb,80
4,panoramegamix,f7txjb,ho dato una veloce occhiata sui social \n\nNor...,17,52,2,fifwfbh,True,f7txjb,119
...,...,...,...,...,...,...,...,...,...,...
2301,BrichenWildale,f7txjb,Ahaha grazie! Comunque ho una media troppo bas...,0,58,27,fiibq0c,False,fiibddj,1
2302,tiohoppio,f7txjb,Siamo talmente pochi che accettano anche i twm...,0,59,36,fiic3no,False,fiibddj,1
2303,hero46it,f7txjb,"Ah, se la metti così, potresti avere ragione.",19,10,10,fige4d1,False,figcdp9,2
2304,BubblyZebra0,f7txjb,"Quella ""O"" mi conforta",22,21,30,fihgh07,False,fihfo4i,2
2305,BrichenWildale,f7txjb,Adesso non so quando sarò di nuovo in sede. Pe...,9,16,5,fijidqc,False,fiic3no,2

In [6]:
comments_data = pd.read_csv("Comments_Data_1.csv", sep = "\t", index_col = 0)

In [7]:
comments_data

,Author,Submission ID,Text,Hour,Minute,Second,ID,Top Level,Parent ID,#Upvotes
0,Lord_TheJc,f7txjb,"Chiudo il thread, andate su quello nuovo\n\n/r...",12,25,40,fijqzau,True,f7txjb,1
1,EMOSCAMBIO,f7txjb,>Ore 19.30 - Il presunto «paziente 0» negativo...,18,52,58,figab7t,True,f7txjb,83
2,drstins_n,f7txjb,> Si allontana da Codogno e torna ad Avellino:...,21,40,54,fih8gxg,True,f7txjb,77
3,IceTea666,f7txjb,Dogana slovenia/croazia. Il poliziotto croato ...,22,17,8,fihft9k,True,f7txjb,75
4,panoramegamix,f7txjb,ho dato una veloce occhiata sui social \n\nNor...,17,52,2,fifwfbh,True,f7txjb,122
...,...,...,...,...,...,...,...,...,...,...
23019,Nico777,fc6a3o,"Certo, era puramente teorico il mio ragionamento.",20,58,23,fjaxwgc,False,fjaxkyj,2
23020,Mululu86,fc6a3o,Parlare con lei è davvero tempo sprecato. Buon...,10,52,14,fj9fmi3,False,fj9fh3o,0
23021,JonhC,fc6a3o,Difficile accettare quando un sbaglia eh?,10,53,7,fj9fnzi,False,fj9fmi3,1
23022,Mululu86,fc6a3o,Spero tu stia trollando,10,54,4,fj9fpml,False,fj9fnzi,0
23023,JonhC,fc6a3o,In realtà spero che tu lo sa\n\nUn video dalla...,10,57,9,fj9fuvh,False,fj9fpml,1

In [8]:
megathreads_data

,ID,Month,Day,Title,#Upvotes,#Comments,Upvote Ratio
0,f7txjb,2,22,[MegaThread #3] CoronaVirus,392,2238,0.97
1,f87rbo,2,23,[MegaThread #4] CoronaVirus,272,3526,0.97
2,f8n5re,2,24,[MegaThread #5] CoronaVirus,339,3905,0.98
3,f979ky,2,25,[MegaThread #6] CoronaVirus,287,3209,0.97
4,f9ppti,2,26,[MegaThread #7] CoronaVirus,143,2630,0.96
...,...,...,...,...,...,...,...
73,gex2s7,5,7,Megathread Coronavirus * 07/05/20,122,496,0.99
74,gfjrni,5,8,Megathread Coronavirus * 08/05/20,112,578,0.96
75,gg5yq6,5,9,Megathread Coronavirus * 09/05/20,75,296,0.96
76,ggqrld,5,10,Megathread Coronavirus * 10/05/20,60,312,0.86
77,ghe13x,5,11,Megathread Coronavirus * 11/05/20,65,238,0.91